body {
    background-color: black;
    display: flex;
    justify-content: center; /* centra orizzontalmente */
    align-items: center;

    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}
.total {
    background-color: white;
    width: 800px;
    height: 1060px;
}
.data {
    margin: 0;
    text-align: right;
    font-size: 0.8em;
}
.main-titolo {
    text-align: center;
    font-size: 3em;
    display: flex;
    gap: 15px;
    justify-content: center; /* centra orizzontalmente */
    align-items: center;
    margin: 0;
}
.main-titolo::before,
.main-titolo::after {
    content: "";
    width: 220px;
    height: 2px;
    background-color: brown;
}
.first-thing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.before-image {
    width: 100vh;
}
.main-image {
    width: 200px;
    height: 200px;
    margin: 5px;
}
.after-image {
    width: 100vh;
}
.prima-scena {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: coral;
}
.prima-img {
    width: 175px;
    height: 175px;
    margin-right: 15px;
}
.prima-p {
    margin: 0;
    color: white;
}
.seconda-scena {
    display: flex;
    justify-content: left;
    align-items: center;
}
.seconda-img {
    width: 175px;
    height: 175px;
    margin-right: 15px;
}
.terza-scena {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: coral;
}
.terza-img {
    width: 175px;
    height: 175px;
    margin-right: 15px;
}
.terza-p {
    color: white;
}
.quarta-scena {
    display: flex;
    justify-content: left;
    align-items: center;
}
.quarta-img {
    width: 175px;
    height: 175px;
    margin-right: 15px;
}
.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
}
.link {
    color: darkslategray;
    text-decoration: none;
}
